body {
    background-image: url('background.gif');
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    color: white;
}

h1 {
    font-size: 3em;
    font-family: 'PP NeueBit', sans-serif;
    color: red;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em red solid;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: auto 0;
    margin-top: 50px;
    margin-left: 20px;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: red;
    }
}


h2 {
    font-size: 4em;
    font-family: 'PP NeueBit', sans-serif;
    position: absolute;
    right: 10%;
    bottom: 10%;
    color: red;

}

.blink_me {
    animation: blinker 1s linear infinite;
    animation-delay: 5s;
    visibility: hidden;
}

@keyframes blinker {

    49% {
        opacity: 1;
        visibility: visible;
    }

    50% {
        opacity: 0;
        visibility: hidden;
    }
}
